.cont{
    border: 1px solid black;
    border-radius: 4px;
    width: 300px;
    padding: 5px;
    margin-bottom: 25px;
    margin-right: 50px;
    float: left;
    
}

.cont1{
    border: 1px solid black;
    border-radius: 4px;
    width: 300px;
    padding: 5px;
    margin-bottom: 25px;
    margin-right: 50px;
    float: left;
    
    top: 50px; 
}

.cont2{
    border: 1px solid black;
    border-radius: 4px;
    width: 300px;
    padding: 5px;
    margin-bottom: 25px;
    float: left;
    
    top: 95px;

}   

/** 
    Posição RELATIVE se referencia pelo bloco que esta dentro(div)
    posição ABSOLUTE se referencia pelo body
    Z-INDEX sobrepõe 

    Links não visitados
        a:link { }

    Links visitados
        a:visited { }

    Links hover
        a:hover { }

    Links ativos
        a:active { }
**/

