* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    background: #fff url(images/fundo.png) repeat-x;
}

@keyframes animation-box {
    0%   {background-color:red; left:0px; top:0px; border-radius: 20px;}
    25%  {background-color:yellow; left:200px; top:200px; border-radius: 50px 50px 0 0; transform: rotate(90deg);}
    50%  {background-color:blue; left:200px; top:200px;}
    75%  {background-color:green; left:0px; top:200px;}
    100% {background-color:red; left:0px; top:0px; border-radius: 50px 50px 0 0; transform: rotate(180deg);}
}

#box {
    position: relative;
    background-color: blueviolet;
    width: 100px;
    height: 100px;
    animation: animation-box ;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}