* {
    box-sizing: border-box;
}

htlm, body {
    margin: 0;

}

body {
   display: inline;
   

    /*Fonte*/
    font-family: 'Roboto', sans-serif;
    background-color: #f9f9f9;
    padding: 18px;
   
    
}


#text {
    font-weight: bold;
}

#text2 {
    font-style: italic;
    text-decoration: underline;
}

.all{
    width: 300px;
    clear: both;
}

.menu{
    border: 1px solid black;
    border-radius: 4px;
    clear: left;
    padding: 5px;
    margin-bottom: 25px;
    
}

.menu a{
    padding: 5px;
    text-decoration: none;
    clear: left;
}

.log{
    border: 3px solid #24105a;
    border-radius: 6px;
    padding: 25px;
    margin-left: 1100px;
    margin-bottom: 25px;
    float: right;
    background-color: #24105a;
    position: relative;
    
    
}

.login{
    border: 3px solid #24105a;
    border-radius: 8px;
    width: 300px;
    padding: 10px;
   float: right;
   background-color: #ffffff;
   

}

.register{
    border: 3px solid #24105a;
    border-radius: 8px;
    width: 300px;
    padding: 10px;
    margin-bottom: 25px;
    margin-top: 25px;
    float: right;
    background-color: #ffffff;
}